* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Quicksand', sans-serif;
  background-color: #d2e5d2;
  text-align: center;
  color: #696969;
}

h1 {
  color: #cf745a;
  padding: 10% 0 3% 0;
}

h2 {
  color: #cf745a;
}

p {
  padding-bottom: 3%;
}

nav {
  display: block;
  padding-bottom: 3%;
}

nav a {
  text-decoration: none;
  color: #696969;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  padding: 0 2%;
}
